@use '../../base.module.scss' as base;

.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  list-style: none;

  @include base.tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}
