// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

@mixin tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

// Radii
$radius-card: 8px;
