@use '../../base.module.scss' as base;

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem 1rem;
  align-items: center;

  @include base.tablet {
    padding-top: 2rem;
  }
}
